:root {
    --cor-primaria: #284019;
    --cor-segundaria: #17240f;
    --cor-texto: #fff;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cor-primaria-background {
    background-color: var(--cor-primaria) !important;
}


.cor-primaria {
    color: var(--cor-primaria) !important;
}


.navbar-primario {
    --bs-bg-opacity: 1;
    background-color: var(--cor-primaria) !important;
}

    .navbar-primario .navbar-brand {
        color: var(--cor-texto) !important;
        font-family: cursive;
    }

    .navbar-primario .navbar-toggler {
        color: var(--cor-texto) !important;
        font-size: x-large;
    }


.offcanvas-end {
    left: -1px;
    transform: translateX(-100%);
}

.btn-padrao {
    background-color: var(--cor-primaria) !important;
    color: var(--cor-texto);
    margin: 5px;
}

    .btn-padrao:hover {
        color: darkseagreen;
    }

    .btn-padrao a {
        color: var(--cor-texto);
        text-decoration: none;
    }

        .btn-padrao a:hover {
            color: darkseagreen;
            text-decoration: none;
        }

.color-view{
    width:100px;
    height:100px;
    border: 1px solid black;
}
